body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background.jpg);
    color: white;
    text-shadow: 7px 7px black;
}

h1{
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(163, 123, 238);
}

#snake{
    border-width:10px;
    border-style: groove;
}

.contacts_list {
    list-style: none;
    margin-top: 5px;
    
}
.contacts_list li {
    display: inline;
}
.contacts_list a {
    margin-left: 20px;
    color: white;
    font-size: 35px;
}
